body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.btn {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
